<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto">
        <div class="card-header text-center">
            <h3 class="m-3">Columbia Coast Insurance</h3>
            <h6 class="m-0">Your home for the very best in auto insurance.</h6>
            <p>Click the button below for an instant quote!</p>
            @using (Html.BeginForm("Apply", "Home", FormMethod.Get))
            {
                    <button class="btn-success btn-sm col-3" type="submit">Let's go!</button>
            }
        </div>
    </div>
</div>